body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

/* ---------- Headline ---------- */

h1 {
  font-size: 5rem;
  line-height: 1.05;
  margin-bottom: 50px;
}

/* ---------- Footer ---------- */

footer {
  text-align: right;
  color: midnightblue;
  clear: both; /* กัน footer ลอยขึ้นเพราะ float */
}

/* ---------- Cards ---------- */

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  float: left;
  margin-right: 50px;
}

.card-title {
  margin-top: 0;
}

.card-text {
  line-height: 1.6;
}

.creative {
  color: midnightblue;
}

/* ---------- Mobile ---------- */

@media (max-width: 680px) {
  body {
    margin: 20px;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .card {
    width: 100%;
    float: none;
    display: block;
    margin-bottom: 40px;
    text-align: justify;
  }

  .tile-image {
    float: none;
    width: 100%;
    height: 220px;
    margin: 0 0 15px 0;
  }

  footer {
    text-align: center;
  }
}
